<pages>
  <controls>
    
    <!-- Libraries -->
    <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolKit" />

    
    <!-- User -->
    <add tagPrefix="ucUser" src="~/Controls/User/Modals/AddUserModal.ascx" tagName="AddUser"/>
    <add tagPrefix="ucUser" src="~/Controls/User/Modals/LoginModal.ascx" tagName="LoginModal"/>
    
    <!-- Character-->
    <add tagPrefix="ucCharacter" src="~/Controls/Character/Modals/AddNewCharacterModal.ascx" tagName="CharacterModal"/>
    <add tagPrefix="ucCharacter" src="~/Controls/Character/Modals/EditCharacterStatsModal.ascx" tagName="EditStatsModal"/>
    <add tagPrefix="ucCharacter" src="~/Controls/Character/Modals/AddItemModal.ascx" tagName="AddItemModal"/>
    <add tagPrefix="ucCharacter" src="~/Controls/Character/Modals/AddSpellModal.ascx" tagName="AddSpellModal"/>
    <add tagPrefix="ucCharacter" src="~/Controls/Character/Modals/EditCharacterHPModal.ascx" tagName="EditHPModal"/>




  </controls>
  
</pages>